﻿@* @model TodoListWithItemsViewModel *@
@* *@
@* @{ *@
@*     Layout = "_Layout"; *@
@* } *@
@* *@
@* @if (Model.UpdatingTodoItem is not null) *@
@* { *@
@*     <form method="post" action="/TodoItem/Update"> *@
@*         <input type="hidden" name="todoListId" value="@Model.Project.Id" /> *@
@*         <input type="hidden" name="todoItemId" value="@Model.UpdatingTodoItem.Id" /> *@
@*         <div class="d-flex justify-content-between"> *@
@*             <input class="form-outline custom-width taskInput" placeholder="Add a task" type="text" name="dto.Title" value="@Model.UpdatingTodoItem.Title" /> *@
@* *@
@*             <button type="submit" class="btn btn-outline-success"> *@
@*                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill=""> *@
@*                     <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"></path> *@
@*                     <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"></path> *@
@*                 </svg> *@
@*             </button> *@
@*         </div> *@
@* *@
@*         <textarea class="form-outline mt-2 custom-width rounded" placeholder="Description" name="dto.Description">@Model.UpdatingTodoItem.Description</textarea> *@
@*     </form> *@
@* } *@
@* else *@
@* { *@
@*     <form method="post" action="/TodoItem/Create"> *@
@*         <input type="hidden" name="todoListId" value="@Model.Project.Id" /> *@
@*         <div class="d-flex justify-content-between"> *@
@*             <input class="form-outline custom-width rounded" placeholder="Add a task" type="text" name="dto.Title" /> *@
@* *@
@*             <button class="btn btn-primary me-2" type="submit"> *@
@*                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill=""> *@
@*                     <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"></path> *@
@*                 </svg> *@
@*             </button> *@
@*         </div> *@
@* *@
@*         <textarea class="form-outline mt-2 custom-width rounded" placeholder="Description" name="dto.Description"></textarea> *@
@*     </form> *@
@* } *@
@* *@
@* *@
@* <table class="table mt-2"> *@
@*     <thead> *@
@*     </thead> *@
@*     <tbody> *@
@*         @foreach (var todoItem in Model.TodoItems) *@
@*         { *@
@*             <tr id="@todoItem.Id-title-tr" onmouseenter="makeTableRowHighlighted(@todoItem.Id)" onmouseleave="makeTableRowDefault(@todoItem.Id)"> *@
@*                 <td> *@
@*                     <div class="d-flex"> *@
@*                         $1$ <h3 class="me-auto @(todoItem.IsDone ? "done" : string.Empty)" id="@todoItem.Id-title">@todoItem.Title</h3> #1# *@
@*                         <input type="hidden" name="id" value="@todoItem.Id" /> *@
@* *@
@*                         $1$ @if (todoItem.IsDone is false) #1# *@
@*                         $1$ { #1# *@
@*                         $1$     <form method="post" action="/TodoItem/MakeItDone"> #1# *@
@*                         $1$         <input type="hidden" name="todoListId" value="@Model.Project.Id" /> #1# *@
@*                         $1$         <input type="hidden" name="todoItemId" value="@todoItem.Id" /> #1# *@
@*                         $1$         <button class="btn btn-outline-success me-2" type="submit"> #1# *@
@*                         $1$             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill=""> #1# *@
@*                         $1$                 <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"></path> #1# *@
@*                         $1$                 <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"></path> #1# *@
@*                         $1$             </svg> #1# *@
@*                         $1$             <span class="visually-hidden">Button</span> #1# *@
@*                         $1$         </button> #1# *@
@*                         $1$     </form> #1# *@
@*                         $1$ } #1# *@
@*                         $1$ else #1# *@
@*                         $1$ { #1# *@
@*                         $1$     <form method="post" action="/TodoItem/MakeItUndone"> #1# *@
@*                         $1$         <input type="hidden" name="todoListId" value="@Model.Project.Id" /> #1# *@
@*                         $1$         <input type="hidden" name="todoItemId" value="@todoItem.Id" /> #1# *@
@*                         $1$         <button class="btn btn-outline-warning me-2" type="submit"> #1# *@
@*                         $1$             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill=""> #1# *@
@*                         $1$                 <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"></path> #1# *@
@*                         $1$                 <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"></path> #1# *@
@*                         $1$             </svg> #1# *@
@*                         $1$             <span class="visually-hidden">Button</span> #1# *@
@*                         $1$         </button> #1# *@
@*                         $1$     </form> #1# *@
@*                         $1$ } #1# *@
@* *@
@*                         <form method="get" action="/TodoItem/GetTodoItem"> *@
@*                             <input type="hidden" name="todoListId" value="@Model.Project.Id" /> *@
@*                             <input type="hidden" name="todoItemId" value="@todoItem.Id" /> *@
@*                             <button class="btn btn-outline-info me-2" type="submit"> *@
@*                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill=""> *@
@*                                     <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path> *@
@*                                     <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path> *@
@*                                 </svg> *@
@*                                 <span class="visually-hidden">Button</span> *@
@*                             </button> *@
@*                         </form> *@
@* *@
@*                         <form method="post" action="/TodoItem/Delete" onclick="return confirm('Are you sure you want to delete this record?')"> *@
@*                             <input type="hidden" name="todoListId" value="@Model.Project.Id" /> *@
@*                             <input type="hidden" name="todoItemId" value="@todoItem.Id" /> *@
@*                             <button class="btn btn-outline-danger" type="submit"> *@
@*                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill=""> *@
@*                                     <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path> *@
@*                                 </svg> *@
@*                             </button> *@
@*                         </form> *@
@*                     </div> *@
@*                     <div> *@
@* *@
@*                         @if (string.IsNullOrWhiteSpace(todoItem.Description) is false) *@
@*                         { *@
@*                             $1$ <div id="@todoItem.Id-description-tr" onmouseenter="makeTableRowHighlighted(@todoItem.Id)" onmouseleave="makeTableRowDefault(@todoItem.Id)"> #1# *@
@*                             $1$     <div class="custom-width @(todoItem.IsDone ? "done" : string.Empty)" id="@todoItem.Id-description"> #1# *@
@*                             $1$         @todoItem.Description #1# *@
@*                             $1$     </div> #1# *@
@*                             $1$ </div> #1# *@
@*                         } *@
@*                     </div> *@
@*                 </td> *@
@*             </tr> *@
@*         } *@
@*     </tbody> *@
@* </table> *@
@* *@
@* <style> *@
@*     .custom-width { *@
@*         width: 680px *@
@*     } *@
@* *@
@*     input, textarea { *@
@*         background-color: #666; *@
@*         color: #FFF; *@
@*     } *@
@* *@
@*         input:focus, *@
@*         select:focus, *@
@*         textarea:focus, *@
@*         button:focus { *@
@*             outline: none; *@
@*         } *@
@* *@
@*     .done { *@
@*         text-decoration: line-through; *@
@*     } *@
@* </style> *@
@* *@
@* <script> *@
@*     function makeTableRowDefault(todoItemId) { *@
@*         var titleTableRow = document.getElementById(`${todoItemId}-title-tr`) *@
@*         var descriptionTableRow = document.getElementById(`${todoItemId}-description-tr`) *@
@*     } *@
@* *@
@*     function makeTableRowHighlighted(todoItemId) { *@
@*         var titleTableRow = document.getElementById(`${todoItemId}-title-tr`) *@
@*         var descriptionTableRow = document.getElementById(`${todoItemId}-description-tr`) *@
@*     } *@
@* *@
@*     function toggleTextDecoration(todoItemId) { *@
@*         const checkbox = document.getElementById(`${todoItemId}-checkbox`); *@
@*         const title = document.getElementById(`${todoItemId}-title`); *@
@*         const description = document.getElementById(`${todoItemId}-description`); *@
@* *@
@*         if (checkbox.checked) { *@
@*             title.style.textDecoration = "line-through"; *@
@* *@
@*             if (description != null) { *@
@*                 description.style.textDecoration = "line-through"; *@
@*             } *@
@*         } else { *@
@*             title.style.textDecoration = "none"; *@
@* *@
@*             if (description != null) { *@
@*                 description.style.textDecoration = "none"; *@
@*             } *@
@*         } *@
@*     } *@
@* </script> *@