﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Task Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/TodoList.styles.css" asp-append-version="true"/>
</head>
<body>
@if (Context.Request.Cookies.TryGetValue("UserId", out _))
{
    <form method="post" action="/Logout/Logout">
        <button class="btn btn-outline-danger" style="position: absolute; top: 10px; left: 10px;" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"></path>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"></path>
            </svg>
        </button>
    </form>
}


<header class="appHeader">
    <nav class="navbar nav-dark-theme navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto" asp-area="" asp-controller="TodoList" asp-action="Index">Task Tracker</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<div class="container body-container">
    <main role="main" class="pb-3">
        <div style="margin-top: 5rem"></div>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }

        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted"></footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .appHeader {
        position: fixed;
        top: 0;
        margin: 0 auto;
        width: 350px;
        transform: translate(-50%);
        left: 50%;
    
    }

    .navbar.nav-dark-theme {
        background-color: #eee;
        border-radius: 0 0 8px 8px;
        box-shadow: 8px 4px 8px #ccc;
    }

        .navbar.nav-dark-theme A {
            color: #444;
        }
    .taskInput {
        border-radius: 40px;
        background: #eee;
    }
    input,
    textarea {
        background-color:#eee;
        color: #444;
    }
    
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    
    .card {
       background-color: #444;
       border: none;
    }
    
    .btn-primary {
       background-color: #007bff;
       border-color: #007bff;
    }
    .btn-primary:hover {
       background-color: #0056b3;
       border-color: #0056b3;
    }
    .btn-info {
        background-color: #31d2f2;
        border-color: #31d2f2;
    }
    .btn-info:hover {
       background-color: #2793a3;
       border-color: #2793a3;
    }
    
    svg.solid-white {
        filter: invert(100%);
    }
    svg.icon-center {
        display: block;
        margin: auto;
    }
    tr {
        background: #fff;
        color: #444
    }

    tbody tr:hover {
        cursor: pointer;
        background-color: #ddd;
    }

    th {
        background: #444 !important;
        color: #EEE;
    }

    .mt-5.registerCard,
    .mt-5.loginCard  {
        margin-top: 50% !important;
        transform: translateY(-50%);
    }
    
    .alert.alert-danger {
        color:#842029;
        background-color:#f8d7da;
        border-color:#f5c2c7;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .error-message{
        color: red;
         display: none;
    }
</style>