﻿@model TodoList.Business.Project.ViewModels.ProjectViewModel[]

@{
    Layout = "_Layout";
}

<form method="post" action="/TodoList/Create">
    <div class="d-flex justify-content-between">
        <input class="form-outline custom-width taskInput" placeholder="Add a list" type="text" id="title" name="title" />
        <button class="btn btn-primary me-2" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill="">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"></path>
            </svg>
        </button>
    </div>
</form>

<br/>
<br/>

<table class="table">
    <thead>
    <tr>
        <th class="dark-theme">Title</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var todoList in Model)
    {
        <tr data-href="@Url.Action("Index", "TodoItem", new { todoListId = todoList.Id })">
            <td>
                <div class="d-flex justify-content-between">
                    <p>@todoList.Title</p>
                    <form asp-controller="TodoList" asp-action="Delete" method="post" onclick="return confirm('Are you sure you want to delete this record?')">
                        <input type="hidden" name="id" value="@todoList.Id"/>
                        <button class="btn btn-outline-danger" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill="">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                            </svg>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    var rows = document.getElementsByTagName('table')[0].rows;
    
    Array.from(rows).forEach((row, index) => {
        
        if (index == 0) return;
        
        row.addEventListener("click", function() {
            window.location.href = this.getAttribute('data-href');
        });
    });
</script>

<style>
    tr {
        color: white;
    }

    tbody tr:hover {
        cursor: pointer;
        background-color: #323130;
    }
    
    .dark-theme {
        color: white
    }
    
    .custom-width {
            width: 680px
        }
</style>