﻿@{
    Layout = "_Layout";
}

<div class="container mt-5 loginCard">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <svg class="bi bi-person-fill solid-white icon-center mb-3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="160" height="160" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                    </svg>

                    <form method="post" action="/Login/Login">
                        <div class="mb-3">
                            <input class="form-outline rounded w-100" type="text" name="username" id="username" placeholder="Username" required>
                            <span class="error-message" id="usernameErrorMessage">Username is required</span>
                        </div>
                        <div class="mb-3">
                            <input class="form-outline rounded w-100" type="password" name="password" id="password" placeholder="Password" required>
                            <span class="error-message" id="passwordErrorMessage">Password is required</span>
                        </div>
                        <button class="btn btn-primary w-100 mb-2" type="submit" onclick="validateInputs()">Login</button>
                    </form>
                    <form method="get" action="/Register/Index">
                        <button class="btn btn-info w-100" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validateInputs() {
        const usernameInput = document.getElementById("username");
        const passwordInput = document.getElementById("password");
        const usernameError = document.getElementById("usernameErrorMessage");
        const passwordError = document.getElementById("passwordErrorMessage");
    
        if (usernameInput.value.trim() === "") {
            usernameError.style.display = "block";
        } else {
            usernameError.style.display = "none";
        }
    
        if (passwordInput.value.trim() === "") {
            passwordError.style.display = "block";
        } else {
            passwordError.style.display = "none";
        }
    }
</script>