﻿@{
    Layout = "_Layout";
}

<div class="container mt-5 registerCard">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <svg class="bi bi-person-fill-add solid-white icon-center mb-3" xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                    </svg>

                    <form method="post" action="/Register/Register" id="registerForm">
                        <div class="mb-3">
                            <input class="form-outline rounded w-100" type="text" name="username" id="username" placeholder="Username"  required/>
                            <span class="error-message" id="usernameErrorMessage">Username is required</span>

                        </div>
                        <div class="mb-3">
                            <input class="form-outline rounded w-100" placeholder="Email" type="email" id="email" name="email" required/>
                            <span class="error-message" id="emailErrorMessage">Email is required</span>
                        </div>
                        <div class="mb-3">
                            <input class="form-outline rounded w-100" placeholder="Password" type="password" id="password" name="password" oninput="confirmPassword()" required/>
                            <span class="error-message" id="passwordErrorMessage">Password is required</span>
                        </div>
                        <div class="mb-3">
                            <input class="form-outline rounded w-100" placeholder="Confirm password" type="password" id="confirmpassword" name="confirmpassword" oninput="confirmPassword()" required/>
                            <span class="error-message" id="confirmpasswordErrorMessage">Confirm password is required</span>
                        </div>
                        <button class="btn btn-info w-100 mb-2" type="submit" onclick="validateInputs()">Register</button>
                    </form>
                    <form method="get" action="/Login/Index">
                        <button class="btn btn-primary w-100 w-100" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validateInputs() {
        const usernameInput = document.getElementById("username");
        const usernameError = document.getElementById("usernameErrorMessage");
        
        if (usernameInput.value.trim() === "") {
            usernameError.style.display = "block";
        } else {
            usernameError.style.display = "none";
        }
        
        
        const emailInput = document.getElementById("email");
        const emailError = document.getElementById("emailErrorMessage");
        
        if (emailInput.value.trim() === "") {
            emailError.style.display = "block";
        } else {
            emailError.style.display = "none";
        }
        
        
        const passwordInput = document.getElementById("password");
        const passwordError = document.getElementById("passwordErrorMessage");
        
        if (passwordInput.value.trim() === "") {
            passwordError.style.display = "block";
        } else {
            passwordError.style.display = "none";
        }
        
        
        const confirmPasswordInput = document.getElementById("confirmpassword");
        const confirmPasswordError = document.getElementById("confirmpasswordErrorMessage");
        
        if (confirmPasswordInput.value.trim() === "") {
            confirmPasswordError.style.display = "block";
        } else {
            confirmPasswordError.style.display = "none";
        }
    }
    
    function confirmPassword() {
        var password = document.getElementById("password");
        var confirmPassword = document.getElementById("confirmpassword");
    
        if (password.value === confirmPassword.value) {
            password.classList.remove("border-danger");
            confirmPassword.classList.remove("border-danger");
        } else {
            password.classList.add("border-danger");
            confirmPassword.classList.add("border-danger");
        }
    }
    
    function validatePassword(event) {
        console.log(event);
            var password = document.getElementById("password").value;
            var confirmpassword = document.getElementById("confirmpassword").value;
    
            if (password !== confirmpassword) {
                alert("Passwords do not match");
                event.preventDefault();
            }
        }
        
    document.getElementById("registerForm").addEventListener("submit", validatePassword);
</script>